    - selector:
        matchLabels:
          os: ${VIRT_OS}
          arch: ${VIRT_ARCH}
      uri: "${VIRT_BUNDLE_URI}"
      sha256: "${VIRT_BUNDLE_SHA256}"
      files:
        - from: "/virtctl/${VIRT_BUNDLE_BINARY}"
          to: "."
      bin: "./${VIRT_BUNDLE_BINARY}"